<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.cdpilot.twitter-cycle</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/nadir/cdpilot-twitter-data/twikit-venv/bin/python</string>
    <string>/Users/nadir/01dev/cdpilot/xbot/ops/run_cycle.py</string>
    <string>auto</string>
  </array>
  <key>StartCalendarInterval</key>
  <array>
    <dict>
      <key>Hour</key><integer>8</integer>
      <key>Minute</key><integer>30</integer>
    </dict>
    <dict>
      <key>Hour</key><integer>13</integer>
      <key>Minute</key><integer>0</integer>
    </dict>
    <dict>
      <key>Hour</key><integer>17</integer>
      <key>Minute</key><integer>30</integer>
    </dict>
    <dict>
      <key>Hour</key><integer>22</integer>
      <key>Minute</key><integer>0</integer>
    </dict>
  </array>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>/Users/nadir/cdpilot-twitter-data/logs/cycle-stdout.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/nadir/cdpilot-twitter-data/logs/cycle-stderr.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
</dict>
</plist>
